$padding: 8px;

.tsvis-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.idl-logo {
  position: absolute;
  right: $padding;
  display: inline-block;
}

.idl-logo img {
  width: 40px;
}

.header {
  background-color: white;
  height: 30px;
  padding: $padding;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}